body{

background:#f4f7fb;

}

.card{

border-radius:20px;

}

.table thead{

color:#00224c;

font-weight:bold;

}

.table td{

vertical-align:middle;

}

.filter-btn{

border-radius:10px;

margin-left:5px;

}

.badge{

padding:8px 12px;

font-size:13px;

}

.badge-unpaid{

background:#dbe9ff;

color:#003a8c;

}

.badge-paid{

background:#d4edda;

color:#146c43;

}

.badge-overdue{

background:#ffe5e5;

color:#c82333;

}

.btn-primary{

background:#00224c;

border:none;

}

.btn-primary:hover{

background:#fbbd23;

color:black;

}

#searchInput{

border-radius:12px;

}